# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
deploy.sh

# production
/build
/public/videos

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

backend/__pycache__/
backend/*.pyc
backend/*.log
backend/pytest_cache/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ipynb_checkpoints/
backend/.vscode/
backend/.idea/
backend/.DS_Store
backend/venv/
backend/env/
backend/dist/
backend/build/
backend/dist-info/
backend/pip-wheel-metadata/
backend/htmlcov/
backend/coverage.xml
backend/coverage/
backend/logs/
backend/tmp/
backend/temp/
backend/venv/
backend/venv/lib/
backend/data/
*.pyc

# Claude
CLAUDE.md

